.Projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #13bbff;
    flex-direction: column;
    position: relative;
    z-index: 1;

}

#newProject {
    position: relative;
    left: -27px;
    align-self: start;
    top: -217px;
    transform: rotateZ(320deg);
    color: #13bbff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 21px;
}

.project-card {
    background-color: #1E1E1E;
    background-color: #2a353b;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    max-width: 420px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(10, 10, 10, 0.9);
}


.project-card img {
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.project-info h2 {
    /* font-size: 24px; */
    font-size: 1.35rem;
    margin-bottom: 20px;
}

.project-languages {
    height: 60px;
    max-width: 24em;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
}

.language-label {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    height: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 5px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.buttons a,
.buttons button {
    text-decoration: none;
    color: #fff;
    background-color: #007acc;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #005c9f;
}



.ProjectsHeader {
    margin: 1em 0;
    width: max-content;
}

.projectContent {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1900px;
    margin: auto;

}



@media screen and (max-width:768px) {

    .Projects {
        padding: 0 30px;
    }
      #newProject {
        left: 0px;
        align-self: start;
        top: -185px;
    }

    .project-languages {
        padding: 0 10px;
        justify-content: center;

    }

    .buttons a {
        padding: 8px;
    }

    .project-card {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .project-card img {
        width: 100%;
    }

    .projectContent {
        gap: 2em;
        padding: 0;
        margin: 0;
    }

    .project-info {
        margin: 30px 0;
    }

}


@media screen and (max-width:390px) {
    #newProject {
        left: -2px;
        align-self: start;
        top: -165px;
    }
}