.Skills {
  padding: 150px 20px;
  /* background:linear-gradient(to bottom, #22282f, #1c1f26); */
  
  /* #1e1f24; */
  color: #ffffff;
  text-align: center;
}

.Skills h3 {
  font-size: 2.2rem;
  color: #13bbff;
  margin-bottom: 2rem;
  font-weight: 600;
}

.SkillsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.SkillItem {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.SkillItem:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(19, 187, 255, 0.2);
}

.SkillItem img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.SkillItem:hover img {
  transform: scale(1.1);
}

.SkillItem span {
  font-size: 0.95rem;
  font-weight: 500;
  color: #ccc;
  display: block;
  margin-top: 5px;
}

.SeeMoreButton {
  background-color: transparent;
  color: #13bbff;
  border: 1px solid #13bbff;
  padding: 10px 20px;
  font-size: 0.95rem;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.SeeMoreButton:hover {
  background-color: #13bbff;
  color: #1e1f24;
}

@media screen and (max-width: 768px) {
  .SkillsContainer {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .SkillItem {
    padding: 15px 5px;
  }

  .SkillItem img {
    width: 50px;
    height: 50px;
  }

  .SkillItem span {
    font-size: 0.85rem;
  }
}
