.Navbar {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    margin-top:20em 0;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1F24;
    color: #fff;
    height: 80px;
    padding: 0 20px;
    font-size: 20px;
    z-index: 1000; 
}

.rightSideNav {
    padding: 10px;
    display: flex;
    align-items: center;
}

.leftSideNav {
    background-color: #1B1F24;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden; 
}

.navLinks {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    padding: 0;
    gap: 20px;
    margin: 0; 
    display:flex;
}

.navLinks li {
    margin: 0.5em 0;
    width: 100%;
     position: relative;

}

.navLinks a {
    color: #fff;
    text-decoration: none;
}
.navLinks li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    transition: width 0.2s ease-in-out;
}

.navLinks li:hover::before {
    width: 100%;
    background-color: rgba(255,255,255, 0.4);
}

.fas {
    display: none;
}

@media screen and (min-width: 769px) { 
    .leftSideNav {
        max-height: 100%;
        opacity: 1;
     }
}

@media screen and (max-width: 768px) {
    .Navbar {
        flex-direction: column;
        padding: 10px; 
    }

    .fas {
        display: block;
    }

    .rightSideNav {
        width: 100%;
        justify-content: space-between;
    }

    .leftSideNav.active {
        max-height: 1000px;
        opacity: 1;
    }

    .navLinks {
        background-color: #1B1F24;
        position: absolute;
        text-align: center;
        flex-direction: column;
        width: 100%; 
        top: 50px; 
        left: 0;
        padding: 20px; 
        box-sizing: border-box;  
        display: none;
    }

    .navLinks.active{
        display:flex;

    }
}
